{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin-bottom:10vh;">

        <p><a href="{{ path('app_admin_user_account', {'id': user.id}) }}"><img src="{{ asset('icons/back.svg') }}" class="icons" alt="flèche de retour"></a></p>

        <h1 style="margin-top:10vh;">Avoir et Bon de Réduction</h1>

        <h2 style="margin-top:10vh;">Avoir</h2>
        
            {% for credit in credits %}
                <p>Montant: {{ credit.amount }}</p>
                <p>Raison: {{ credit.reason }}</p>
            {% else %}
                <p>Vous n'avez aucun Avoir.</p>
            {% endfor %}
    

        <h2 style="margin-top:10vh;">Bon de réduction</h2>
    
            {% for voucher in vouchers %}
                <p>Code: {{ voucher.code }}</p>  
                <p>Réduction: {{ voucher.reducPercent }}</p>
            {% else %}
                <p>Vous n'avez aucun bon de réduction.</p>
            {% endfor %}
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
