{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin-bottom:10vh;">

        <p><a href="{{ path('app_admin_user_account', {'id': user.id}) }}"><img src="{{ asset('icons/back.svg') }}" class="icons" alt="flèche de retour"></a></p>

        <h1 class="text-center" style="margin-top:10vh;margin-bottom:10vh;">Informations Société</h1>
        
        <p>Nom: {{ user.companyName }}</p>
        <p>E-mail: {{ user.email }}</p>
        <p>Numéro SIRET: {{ user.siret }}</p>
        <p>Addresse: 
            {% if addresses is not empty %}
                <ul>
                    {% for address in addresses %}
                        <li>
                            {{ address.number }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}, {{ address.country }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}    
        </p>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}