{# {% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon Compte</h1>
    
    <h2>Bienvenue sur la page ou vous gérez votre compte.</h2> 
    <h3>Les commandes, vos infos personnel et vos devis.</h3>
    <p>Vous retrouvez aussi vos Avoirs et Bons de réduction</p>
    
        <a href="{{ path('add_address') }}">Ajouter une adresse</a>
        <a href="{{ path('account_personal_information') }}">Mes Informations Personnelles</a>
        <a href="{{ path('account_credits_discount_voucher') }}">Mes Avoirs et Bons de Réduction</a>
        <a href="{{ path('account_order') }}">Mes Commandes</a>
    
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Mon Compte</h1>

        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Vos informations personnelles</h2>
                <p>Gérez vos informations personnelles, vos adresses et vos abonnements.</p>
                <a href="{{ path('account_personal_information') }}" class="btn btn-primary">Mes informations personnelles</a>
                <a href="{{ path('app_address_index') }}" class="btn btn-primary">Mes adresses</a>
            </div>
            <div class="col-12 col-md-6">
                <h2>Vos commandes</h2>
                <p>Suivez vos commandes, vos avoirs et vos bons de réduction.</p>
                <a href="{{ path('account_order') }}" class="btn btn-primary">Mes commandes</a>
                <a href="{{ path('account_credits_discount_voucher') }}" class="btn btn-primary">Mes avoirs et bons de réduction</a>
            </div>
        </div>

    </div>
   
{% endblock %}
