{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <p><a href="{{ path('app_account') }}"><img src="{{ asset('icons/back.svg') }}" class="icons" alt="flèche de retour"></a></p>

    <h1 class="text-center" style="margin-bottom: 10vh;">Informations Société</h1>


    <p><strong>Nom:</strong> {{ user.companyName }}</p>
    <p><strong>E-mail:</strong> {{ user.email }}</p>
    <p><strong>Numéro SIRET:</strong> {{ user.siret }}</p>
    <p><strong>Addresse:</strong> 
        {% if addresses is not empty %}
            <ul>
                {% for address in addresses %}
                    <li>
                        {{ address.number }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}, {{ address.country }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}    
    </p>

</div>
{% endblock %}