{% extends 'baseAdmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/_form_product_edit.css') }}">
{% endblock %}

{% block title %}Modifier le Produit{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h1>Modifier le produit</h1></div>
        <div class="col-sm-4"></div>
    </div>
</div>

    {{ include('product/_form_edit.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_product_index') }}" class="btn btn-success mx-2">Revenir à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    <script src="{{ asset('js/_form_edit.js') }}"></script>
{% endblock %}